@font-face {
  font-family: 'Delivery';
  src: url("../assets/fonts/regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Delivery';
  src: url("../assets/fonts/semibold.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Delivery';
  src: url("../assets/fonts/semibold-italic.woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Delivery';
  src: url("../assets/fonts/bold.woff");
  font-weight: 700;
  font-style: normal;
}